<!-- views/blog.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog - Personal Website</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <h1>Milind Pandav</h1>
        <p>Solution Engineer | TIBCO Advocate | Content Creator</p>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blogs</a></li>
            <li><a href="/resume">Resume</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <section class="blog-posts">
        <div class="container">
          <h1>Blog</h1>
          <div class="post">
            <h2>Blog Post Title 1</h2>
            <p>Content of the first blog post...</p>
          </div>
          <div class="post">
            <h2>Blog Post Title 2</h2>
            <p>Content of the second blog post...</p>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <div class="container">
        <p>&copy; 2025 Milind Pandav</p>
      </div>
    </footer>
    <script src="/js/scripts.js"></script>
  </body>
</html>
