<!-- views/blog-post.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Post - Milind Pandav</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/resume">Resume</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section class="blog-post">
        <div class="container">
          <h1>Blog Post</h1>
          <div><%- blogContent %></div>
        </div>
      </section>
    </main>

    <footer>
      <div class="container">
        <p>&copy; 2025 Milind Pandav</p>
      </div>
    </footer>
    <script src="/js/scripts.js"></script>
  </body>
</html>
